#sidebar-nav {
    width: 160px;
}

h2 {
    font-family: 'El Messiri', sans-serif; 
    font-weight: 300;
}

h4 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h5 {
    font-family: 'Archivo', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}