{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block description %}View and manage your datasets.{% endblock %}

{% block content %}

<div class="row mb-5">
    <div class="input-group mb-3">
            <select name="select-dataset" id="select-dataset" class="form-select" form="setDelete">
                <option value="default" selected>Select a Dataset</option>

                {% for name in dataset_ids %}
                    <option value="{{name}}">{{name}}</option>
                {% endfor %}
            </select>
            <form id="setDelete" action="admin" method="POST">
                <input type="submit" value="Remove Time Series Set" class="btn btn-primary">
            </form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div id="metadata" style="display:none">
    <div class="row mb-5">
        <div class="col">
            <h4>Description</h4>
            <p id="description"></p>
        </div>
        <div class="col">
            <h4>Reference</h4>
            <p id="reference"></p>
        </div>
        <div class="col">
            <h4>Link</h4>
            <p id="link"></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Contributors</h4>
            <ul id="contributors" class="list-group"></ul>
        </div>
        <div class="col">
            <h4>Keywords</h4>
            <ul id="keywords" class="list-group"></ul>
        </div>
        <div class="col">
            <h4>Domains</h4>
            <ul id="domains" class="list-group"></ul>
        </div>
    </div>
</div>

<script>
    function clear_contents() {
        $("#metadata").hide();
        $("#contributors").html("");
        $("#keywords").html("");
        $("#domains").html("");
    }

    function render_metadata(response) {
        // Update description
        $("#description").text(response.description);

        $("#reference").text(response.reference)
        $("#link").html("<a href='" + response.link + "' target='_blank'>" + response.link + "</a>");

        // Update contributors
        $("#contributors").empty()
        response.contributors.forEach(item => {
            $("#contributors").append("<li class='list-group-item'>" + item + "</li>")
        });

        // Update contributors
        $("#keywords").empty()
        response.keywords.forEach(item => {
            $("#keywords").append("<li class='list-group-item'>" + item + "</li>")
        });

        // Update contributors
        $("#domains").empty()
        response.domains.forEach(item => {
            $("#domains").append("<li class='list-group-item'>" + item + "</li>")
        });
    }

    $(document).ready(function() {

        // View selected metadata
        $("#select-dataset").change(function() {
            $.ajax({
                url: "",
                type: "get",
                contentType: "application/json",
                data: {
                    dataset_id: $("#select-dataset").val()
                },
                success: function(response) {
                    if (response.metadata) {
                        $("#metadata").show();
                        render_metadata(response.metadata)
                    } else {
                        $("#metadata").hide();
                    }
                }
            });
        });
    });
</script>

{% endblock %}