{% extends "base.html" %}
{% block title %}View History{% endblock %}
{% block description %}Description for file upload page{% endblock %}

{% block content %}

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Time Series Name</th>
              </tr>
            </thead>
            <tbody>
            
                {% for filename in filenames %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          {{ filename }}
                        </a>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          <embed id="download_data" src="download_data/{{filename}}">
                        </div>
                      </div>
                    </td>
                </tr>
                {% endfor %}
              
            </tbody>
          </table>

{% endblock %}