{% extends "base.html" %}
{% block title %}View History{% endblock %}

{% block content %}

<h1 style="text-decoration: underline;">Download Time Series Data</h1>
    <h2 style="font-size: 24px">Below Are Some Current Filenames in the Time Series Repository:</h2>
    <body>
        
        {% for filename in filenames %}
            <li style="font-size: 20px; position: relative; left:80px; top:80px; ">
                <a id="download_data" href="download_data/{{filename["filename"]}}"> {{filename["filename"]}} </a>
            </li>
        {% endfor %}

    </body>

{% endblock %}