{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block description %}Find answers to commonly asked questions and get help using our platform.{% endblock %}

{% block content %}

<p>If you're new to ChronoWave and need help getting started, you've come to the right place. We've made it easy to help<br>
yourself with our step-by-step guide which provides helpful guidelines and an easy walkthrough of how to upload you data,<br>
analyze it, and visualize your results. </p>

{% endblock %}