<!-- Font links -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">


<!-- Block title and block description -->
{% extends "base.html" %}
{% block title %} Help {% endblock %}
{% block description %} Find answers to commonly asked questions and get help using our platform. {% endblock %}


<!-- Block content -->
{% block content %}

<p style= "font-family: 'Open Sans', sans-serif;">If you're new to ChronoWave and need help getting started, you've come to the right place. We've made it easy to help<br>
yourself with our step-by-step guide which provides helpful guidelines and an easy walkthrough of how to upload you data,<br>
analyze it, and visualize your results. </p>



<!-- Beggining of accordion containing the FAQs -->
<div class="accordion" id="FAQaccordion">
  <!-- First tab/First question -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne" style= "font-family: 'Roboto', sans-serif;">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        How to upload my time series data?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body" style= "font-family: 'Lato', sans-serif; font-weight: 300;">
        <strong>Step 1. </strong> Create a metadata.json file that describes your timeseries files. <br>
        <strong>Step 2. </strong> Compress your metadata.json and JSON, CSV, or Excel timeseries files in a single zip file. <br>
      	<strong>Step 3. </strong> Navigate to the Upload Data tab.<br>
        <strong>Step 4. </strong> Click the "Choose File" button and select you zip file. <br>
        <strong>Step 5. </strong> Click Upload! <br> 
      </div>
    </div>
  </div>

   <!-- Second tab/Second question -->
   <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo" style= "font-family: 'Roboto', sans-serif;">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        What format should the metadata.json file be in? 
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body" style= "font-family: 'Lato', sans-serif; font-weight: 300;">
        <strong>Example metadata.json. </strong> 
        <br>
        <pre>
        {
            "name": "timeseries set name", // name of timeseries set 
            "timeseries": [
                {
                    "name": "timeseries one name", // name of timeseries 
                    "description": "timeseries description", 
                    "domains": ["domains"], 
                    "keywords": ["keywords"], 
                    "vector": {
                        "timestep_label": "datetime", // time column name in timeseries
                        "measure_labels": {
                            "measure": "unit" // non-time (column, unit) pairs in timeseries
                        }
                    },
                    "length": 5, 
                    "sampling_period": "1m", 
                    "training_filename": "training.csv", // filename containing training data 
                    "testing_filename": "testing.csv"  // filename containing testing data(optional)
                                                      // required for timeseries specified in forecasting task
                }
            ],
            "task": { // forecasting task description
                "forecast_period": "1m", 
                "count": 1, // number of forecast points to generate
                "timeseries_name": "timeseries_test" // name of timeseries to forecast for
            },
            "description": "description", 
            "domains": ["domain"], 
            "keywords": ["keyword"], 
            "contributors": ["contributor"], 
            "reference": "reference", 
            "link": "link" 
        }
        </pre>

        </div>
    </div>
  </div>

  <!-- Third tab/Third question -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree" style= "font-family: 'Roboto', sans-serif;">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How do I download timeseries data from ChronoWave?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body" style= "font-family: 'Lato', sans-serif; font-weight: 300;">
      	You can download data from ChronoWave in just a few simple steps:<br>
        <strong>Step 1. </strong> Navigate to the Dowload Data tab.<br>
        <strong>Step 2. </strong> Select the time series data set you want to download from the drop down menu of available data sets.<br>
        <strong>Step 3. </strong> Choose the desired output format, it can be CSV, Exel, or JSON.<br>
        <strong>Step 4. </strong> Click the "Download" button to initiate the download of your time series data set in the chosen format. <br>
        <strong>Step 5. </strong> Wait for the download to complete. This may take a few seconds or minutes, depending on the size of your data set. <br>
        <strong>Step 6. </strong> Open the downloaded file in your preferred software, such as Microsoft Exel, Google Sheets, or a text editor.
      </div>
    </div>
  </div>

  <!-- Fourth tab/Fourth question -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour" style= "font-family: 'Roboto', sans-serif;">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        How do I upload my forecast for a timeseries set?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body" style= "font-family: 'Lato', sans-serif; font-weight: 300;">
      	To upload your forecast to ChronoWave, follow these steps:<br>
        <strong>Step 1. </strong> Navigate to the Upload Forecast tab on the Chronowave website.<br>
        <strong>Step 2. </strong> Fill out the form describing your forecast model name and contributors. <br> 
        <strong>Step 3. </strong> Upload a single CSV, JSON, or Excel forecast file that has the same column names as the training dataset. <br> 
        <strong>Step 4. </strong> Click Upload! Once your forecast is processed, it should be viewable on the Performance Metrics page. <br> 
      </div>
    </div>
  </div>

  <!-- Fifth tab/Fifth question -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive" style= "font-family: 'Roboto', sans-serif;">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Can I view the error metrics of other peoples forecasts?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body" style= "font-family: 'Lato', sans-serif; font-weight: 300;">
        Yes! Just go to the performance metrics tab and select the timeseries set you want to see forecast metrics for. <br>
        There will be a dropdown to select different forecasts to view. The forecasts are listed in order of Mean Average Error. <br>
      </div>
    </div>
  </div>


</div>

{% endblock %}














































