{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block description %}Find answers to commonly asked questions and get help using our platform.{% endblock %}

{% block content %}

<p>If you're new to ChronoWave and need help getting started, you've come to the right place. We've made it easy to help<br>
yourself with our step-by-step guide which provides helpful guidelines and an easy walkthrough of how to upload you data,<br>
analyze it, and visualize your results. </p>


<div class="accordion" id="FAQaccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        How to upload my time series data?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      	<strong> Step 1. </strong> Navigate to the Upload Data tab.<br>
        <strong>Step 2. </strong> Select the file you want to upload. ChronoWave supports a wide range of file formats,
        including CSV, Exel, JSON, and txt, so you can upload your data in the format that best suits your needs.
      </div>
    </div>
  </div>

</div>

{% endblock %}