<!-- Font links -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


<!-- Block title and block description -->
{% extends "base.html" %}
{% block title %} <h2 style="text-align: center;">Welcome to ChronoWave</h2> {% endblock %} 
{% block description %} <h5 style="text-align: center;"> A powerful online timeseries repository for accessing and evaluating time series data and forecasts. </h5> {% endblock %}


<!-- Block content -->
{% block content %}

<p style= "font-family: 'Open Sans', sans-serif; text-align: center; padding-top: 50px;"> Whether you are a data scientist, researcher, or simply interested in exploring patterns and trends in timeseries data,<br>
ChronoWave offers a user-friendly interface that makes it easy to upload timeseries data, analyze forecasts, and generate insightful<br>
metrics that let you know how your forecasting models compare to others in the community.</p>

<p style= "font-family: 'Open Sans', sans-serif; text-align: center;"> With ChronoWave, you can upload your data in a variety of formats like JSON, CSV, and Excel. Our advanced algorithms<br>
can also analyze timeseries forecast data and compute a range of error metrics including Mean Absolute Error (MAE),<br> 
Mean Average Percentage Error (MAPE), Symmetric Mean Average Percentage Error (SMAPE), Mean Square Error (MSE),<br>
Root Mean Square Error (RMSE), and Correlation Coefficient, allowing you to evaluate your forecasting models.<br></p>

<p style= "font-family: 'Open Sans', sans-serif; text-align: center;"> Start exploring the power of time series analysis with ChronoWave today!</p>

{% endblock %}