{% extends "base.html" %}
{% block title %}Welcome to ChronoWave{% endblock %}
{% block description %}A powerful online tool for analyzing and visualizing your time series data.{% endblock %}

{% block content %}

<p>Whether you are a data scientist, researcher, or simply interested in exploring patterns and trends in your data,<br>
ChronoWave offers a user-friendly interface that makes it easy to upload your data, process it, and generate insightful visualizations<br>
that you can download at any time.</p>

<p>With ChronoWave, you can upload your data in a variety of formats like JSON, CSV or XLS. Our advanced algorithms can then analyze<br>
your data and compute a range of error metrics including Mean Absolute Error (MAE), Mean Average Percentage Error (MAPE),<br>
Symmetric Mean Average Percentage Error (SMAPE), Mean Square Error (MSE), Root Mean Square Error (RMSE), and Correlation Coefficient,<br>
allowing you to identify trends, anomalies, and potential issues that might be affecting your results.</p>

<p>Start exploring the power of time series analysis with ChronoWave today!</p>

{% endblock %}