<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">

<div class="col-auto px-0 bg-light">
    <div class="collapse collapse-horizontal show border-end">
        <div class="list-group border-0 rounded-0 text-sm-start min-vh-100">
            <h3 class="text-center list-group-item border-end-0 m-0" style = "font-family: 'El Messiri', sans-serif;">ChronoWave</h3>
            <a href="{{ url_for('home') }}" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-house"></i> <span>Home</span> </a>
            <a href="{{ url_for('upload_data') }}" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-upload"></i> <span>Upload Data</span></a>
            <a href="{{ url_for('upload_forcast') }}" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-upload"></i> <span>Upload Forcast</span></a>
            <a href="{{ url_for('download_data') }}" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-download"></i> <span>Download Data</span></a>
            <a href="{{ url_for('performance_metrics') }}" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-speedometer"></i> <span>Performance Metrics</span></a>
            <a href="{{ url_for('help') }}" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-question-circle"></i> <span>Help</span></a>
        </div>
    </div>
</div>