<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('home') }}">ChronoWave</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" id="home" href="{{ url_for('home') }}">Home</a>
            <a class="nav-item nav-link" id="upload_data" href="{{ url_for('upload_data') }}">Upload Data</a>
            <a class="nav-item nav-link" id="download_data" href="{{ url_for('download_data') }}">Download Data</a>
            <a class="nav-item nav-link" id="view_data" href="{{ url_for('view_data') }}">View Data</a>
            <a class="nav-item nav-link" id="view_history" href="{{ url_for('view_history') }}">View History</a>
            <a class="nav-item nav-link" id="performance_metrics" href="{{ url_for('performance_metrics') }}">Performance Metrics</a>
            <a class="nav-item nav-link" id="help" href="{{ url_for('help') }}">Help</a>
        </div>
    </div>
</nav>