<!-- Font links -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


<!-- Block title and block description -->
{% extends "base.html" %}
{% block title %} Performance Metrics {% endblock %}
{% block description %} See detailed analysis and metrics for your time series data. {% endblock %}


<!-- Block content -->
{% block content %}

<div class="mb-5">
    <p style= "font-family: 'Open Sans', sans-serif;">On this page you will find plots that summarize the performance of your time series data, helping you<br>
    to understand patterns, trends, and potential issues. <br>
    <br>
    Our advanced algorithms automatically compute a range of performance metrics, including mean absolute error,<br>
    mean average percentage error, correlation coefficient, and more, providing you with accurate and reliable results. </p>
</div>

<!-- Search bar -->
<div class="row mb-5">
    <div class="input-group">
        <select id="select-dataset" class="form-select">
            <option value="default" selected>Select a Dataset</option>

            {% for name in dataset_ids %}
                <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
        <select id="select-forecast" class="form-select">
            <option class="stay" value="default" name="default">Select a Forecast To View Metrics</option>
        </select>
    </div>
</div>

<div id="metrics" class="row" style="display: none;">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">MAE: <span id="mae"></span></li>
            <li class="list-group-item">MAPE: <span id="mape"></span></li>
            <li class="list-group-item">SMAPE: <span id="smape"></span></li>
            <li class="list-group-item">MSE: <span id="mse"></span></li>
            <li class="list-group-item">RMSE: <span id="rmse"></span></li>
            <li class="list-group-item">Corr Coeff: <span id="corr"></span></li>
        </ul>
    </div>

    <div class="col">
        <img id="graph">
    </div>
</div>


<script>
    function render_metrics(response) {
        metrics = response.metrics;
        
        $("#metrics").show();

        //update mae
        $("#mae").text(metrics.mae);
        //update mape
        $("#mape").text(metrics.mape);
        //update smape
        $("#smape").text(metrics.smape);
        //update mse
        $("#mse").text(metrics.mse);
        //update rmse
        $("#rmse").text(metrics.rmse);
        //update corr coeff
        $("#corr").text(metrics.corr);

        $("#graph").attr("src", "/working/" + metrics.graph);
    }

    $(document).ready(function() {

        $("#select-forecast").change(function() {
            $.ajax({
                url: "",
                type: "get",
                contentType: "application/json",
                data: {
                    forecast_name: $("#select-forecast").val(),
                    dataset_id: $("#select-dataset").val(),
                },
                success: function(response) {
                    if (response.metrics) {
                        render_metrics(response)
                    }
                },
            });
        });

        // View forecast sets
        $("#select-dataset").change(function() {

            // Remove all list items except for default and hide metrics
            $("#select-forecast").find("*").not(".stay").remove();
            $("#metrics").hide();

            $.ajax({
                url: "",
                type: "get",
                contentType: "application/json",
                data: {
                    dataset_id: $("#select-dataset").val(), 
                },
                success: function(response) {
                    if (response.forecast_names) {
                        response.forecast_names.forEach(item => {
                            $("#select-forecast").append("<option value='" + item + "' name='"+ item +"'>"+ item +"</option>");
                        });
                    }
                }
            });
        });
    });
</script>

{% endblock %}