{% extends "base.html" %}
{% block title %}Performance Metrics{% endblock %}
{% block description %}See detailed analysis and metric for your time series data.{% endblock %}

{% block content %}

<p>On this page you will find plots that summarize the performance of your time series data, helping you<br>
to understand patterns, trends, and potential issues. Our advanced algorithms automatically compute a range of <br>
performance metrics, including mean absolute error, mean average percentage error, correlation coefficient,<br>
and more, providing you with accurate and reliable results. </p>

{% endblock %}