{% extends "base.html" %}
{% block title %}Upload Forcast{% endblock %}
{% block description %}Store forcast results for model analysis.{% endblock %}

{% block content %}

<div class="mb-5">
    <p>Select the dataset you would like to upload forcasting results for.</p>
</div>

<form action="/upload_forcast" method="POST" enctype = "multipart/form-data">
    <div class="mb-3">
        <label for="select-dataset" class="form-label">Select a dataset</label>
        <select id="select-dataset" name="dataset-name" class="form-select">
            <option value="default" selected>Select a Dataset</option>
            
            {% for name in dataset_ids %}
                <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="forcast-name" class="form-label">The name of the forcast</label>
        <input id="forcast-name" name="forcast-name" type="text" class="form-control" placeholder="Forcast Name">
    </div>

    <div class="mb-3">
        <label for="forcast-contributors"" class="form-label">Add forcast contributors seperated by a comma</label>
        <input id="forcast-contributors" name="forcast-contributors" type="text" class="form-control" placeholder="Forcast Contributors">
    </div>

    <div class="mb-3">
        <label for="file-upload" class="form-label">Upload forcast file</label>
        <input id="file-upload" class="form-control" name="dataset" type="file">
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<script>
    $(document).ready(function() {

        // View selected metadata
        $("#select-dataset").change(function() {
            $.ajax({
                url: "",
                type: "get",
                contentType: "application/json",
                data: {
                    dataset_id: $("#select-dataset").val()
                },
                success: function(response) {}
            });
        });
    });
</script>

{% endblock %}