{% extends "base.html" %}
{% block title %}Upload Data{% endblock %}
{% block description %}Upload your time series data and perpare it for analysis.{% endblock %}

{% block content %}

<!-- <p>To get started, simply select the file you want to upload and choose the format that best matches your data. <br>
We support a wide range of formats, including CSV, Excel, JSON, and txt so you can easily upload your data<br>
regardless of how it's stored.</p> -->

<div class="mb-5">
    <p>To get started, zip compress the following files, metadata.json, training.csv, and testing.csv.<br>
    You can then browse your file system by clicking "browse..." under "Upload zip file" below.<br>
    Select your file and click "Upload".</p>

    <p>Once your data is uploaded and prepared, you're ready to start analyzing and visualizing your results.<br>
    Simply navigate to the Performance Metrics tab to explore the power of ChronoWave for time series analysis.</p>

    <p>If you wish, you can download the results from the Download Data tab.</p>
</div>

<div class="col-4">
    <form action="/upload_data" method="POST" enctype = "multipart/form-data">
        <div class="mb-3">
            <label for="file-upload" class="form-label">Upload zip file</label>
            <input id="file-upload" class="form-control" name="dataset" type="file">
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock %}